/*--------------------------------------------------------------
1.0 Reset
--------------------------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	font-family: Century Gothic;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}

html {
	font-size: 62.5%; /* Corrects text resizing oddly in IE6/7 when body font-size is set using em units http://clagnut.com/blog/348/#c790 */
	overflow-y: scroll; /* Keeps page centered in all browsers regardless of content height */
	-webkit-text-size-adjust: 100%; /* Prevents iOS text size adjust after orientation change, without disabling user zoom */
	-ms-text-size-adjust:     100%; /* www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */
	box-sizing: border-box; /* Apply a natural box layout model to the document; see http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
}
*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: #fff; /* Fallback for when there is no custom background color defined. */
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section {
	display: block;
}

ol,
ul {
	list-style: none;
}

table { /* tables still need 'cellspacing="0"' in the markup */
	border-collapse: separate;
	border-spacing: 0;
}

caption,
th,
td {
	font-weight: normal;
	text-align: left;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
}

blockquote,
q {
	quotes: "" "";
}

a:focus {
	outline: thin dotted;
}

a:hover,
a:active {
	outline: 0;
}

a img {
	border: 0;
}

#menu ul {
    list-style-type: none;  
	margin-top: 0;
	padding: 8px;
	background-color: black;
	opacity: 0.65; 
	font-size: 20px;
	text-align: center;
} 
#menu ul li { 
    display: inline;  
    margin: 0;  
}
#menu ul li a {  
    font-family: Century Gothic;  
    color: white; 
	text-decoration: none;
	padding: 0 20px;
}
#header {
    font-family: Verdana;
}

#header img{
	display: block;
	margin: 1% 1%;
	padding: 0.5%;
	width:25%;
	height:8%;
	position: relative; 
}
  
body {
	background-image: url("gracht.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
}

a {
	color: rgb(71,69,68);
}
.content{
	margin: 0 auto;
	width: 80%;
}

.maincontent {
	margin: 0 auto;
	margin-top: 90px;
	width: 50%;
	background-color: rgba(255,255,255,0.85);
	padding: 30px;
}

.homemap{
	margin-left: 2.5%;
	margin-top: 90px;
	margin-right: 2.5% ;
	width: 55%;
	background-color: rgba(255,255,255,0.85);
	padding: 30px;
	float: left;
}

#map {
	height:500px;
	width:100%;
}


.sidecontent {
	margin-top: 90px; 
	width: 37.5%;
	background-color: rgba(255,255,255,0.85);
	padding: 30px;
	float: left;
	font-size: 16px;
	overflow: auto;
	height: 635px;
}

.sidecontent ul li{
	overflow: hidden;
	margin: 10px 0;

}

.wrapper {
	width: 95%; 
	margin: 0 auto;
	background-color: transparent; 
}

form {
	margin-top: 1.5%;
	padding-bottom: 100px;
	height: 50%;
	font-family: Century Gothic;
	text-align: center;
}


fieldset {
	text-align: center;
	}

form h1{
	padding-top: 20px;
	font-size: 30px;
}

h1{
	padding-top: 20px;
	font-size: 30px;
	text-align: center;
}

form h2{
		font-size: 14px;
}

h2, p{
	font-size: 14px;
	text-align: left;
}

h2 a{
	font-size: 14px;
}

h3{
	font-size: 14px;
	text-align: center;
}

h4 {
	font-size: 14px;
	text-align: right;
	padding: 10px;
}

form a{
	font-size: 14px;
}

form li {
	list-style-type: none;
	list-style: none;
}

form li p{
	text-align: left;
	padding-left: 5px;
	display: inline;  
	vertical-align: top;
	display: inline-block

}
form p {
	 display: inline;  
     margin: 0;

}

#map {
	height: 500px;
	width: 100%;
}

#footer {
    list-style-type: none;  
	margin-top: 80%;
	padding: 5px;
	opacity: 0.9;
	background-color: black;
	text-align: center;
	font-family: Century Gothic;
}
#footer ul li{
    display: inline;  
    margin: 0;
}
#footer ul li a {
	color: white;
	font-size: 20px;
	text-decoration: none;
	padding: 0 20px;
	bottom: 0px;
}
.hidden {
	display: none;
	font-size: 14px;
	margin-bottom: 50px ;
}

@media all and (max-device-width: 640px) {
/*media (max-width: 700px) and (device-aspect-ratio: 40/71) {*/
#header img{
	display: block;
	margin: 0 auto;
	padding: 2%;
	width:35%;
	height:18%;
	position: relative;
	
}
#menu ul {
    list-style-type: none;  
	margin-top: 0;
	padding: 20px;
	background-color: black;
	opacity: 0.65; 
	font-size: 40px;
	text-align: center;
} 
#menu ul li { 
    display: inline;  
    margin: 0;  
}
#menu ul li a {  
    font-family: Century Gothic;  
    color: white; 
	text-decoration: none;
	padding: 0 20px;
}
.homemap{
	margin-left: 2.5%;
	margin-top: 90px;
	margin-right: 2.5% ;
	width: 46%;
	padding: 30px;
	float: left;
}

.sidecontent {
	margin-top: 90px; 
	width: 46%;
	padding: 30px;
	float: left;
	font-size: 16px;
	height: 635px;
}

.sidecontent ul li{
	margin: 10px 0;
}

.wrapper {
	width: 95%; 
	margin: 0 auto;
	background-color: transparent; 
}

#footer {
 	margin-bottom: 2%;
	padding: 5px;
	opacity: 0.7;
	text-align: center;
}

#footer ul li a {
	font-size: 20px;
	padding: 0 20px;
	bottom: 0px
}
}
	

