/*--------------------------------------------------------------
1.0 Reset
--------------------------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	font-family: Century Gothic, Arial;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;

}

html {
	font-size: 62.5%; /* Corrects text resizing oddly in IE6/7 when body font-size is set using em units http://clagnut.com/blog/348/#c790 */
	overflow-y: scroll; /* Keeps page centered in all browsers regardless of content height */
	-webkit-text-size-adjust: 100%; /* Prevents iOS text size adjust after orientation change, without disabling user zoom */
	-ms-text-size-adjust:     100%; /* www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */
	box-sizing: border-box; /* Apply a natural box layout model to the document; see http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
}
*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: #fff; /* Fallback for when there is no custom background color defined. */
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section {
	display: block;
}

ol,
ul {
	list-style: none;
}

table { /* tables still need 'cellspacing="0"' in the markup */
	border-collapse: separate;
	border-spacing: 0;
}

caption,
th,
td {
	font-weight: normal;
	text-align: left;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
}

blockquote,
q {
	quotes: "" "";
}

a:focus {
	outline: thin dotted;
}

a:hover,
a:active {
	outline: 0;
}

a img {
	border: 0;
}

#menu ul {
    list-style-type: none;  
	margin-top: 0;
	padding: 5px;
	background-color: black;
	opacity: 0.9; 
	font-size: 20px;
	text-align: center;
} 
#menu ul li { 
    display: inline;  
    margin: 0;  
}
#menu ul li a {  
    font-family: Century Gothic, Arial;  
    color: #FFFFFF; 
    font-family: Century Gothic, Arial;   
	text-decoration: none;
	padding: 0 20px;
}
#header {
    font-family: Verdana;
}

#header h1 {
	text-align: right;
	padding-bottom: 10px;
	display: inline-block;
	font-size: 20px;
}

#header img{
	display: inline-block;
	margin-left: 41%;
	margin-right: 18% ;
	padding: 0.5%;
	width:25%;
	height:8%;
	position: relative; 
}

.headercontent {
	background-color: transparent;
	max-width: 95%;
	max-height: 100px;

}
  
body {
	background-image: url("gracht2.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
}

a {
	color: rgb(71,69,68);
}
.content{
	margin: 0 auto;
	width: 80%;
}

.maincontent {
	margin: 0 auto;
	margin-top: 90px;
	width: 50%;
	background-color: rgba(255,255,255,0.8);
	padding: 10px;
	padding-bottom: 15px;
}

.homemap{
	margin-left: 2.5%;
	margin-top: 90px;
	margin-right: 2.5% ;
	width: 55%;
	background-color: rgba(255,255,255,0.8);
	padding: 49px;
	padding-top: 10px;
	float: left;
}

#map {
	height:500px;
	width:100%;
}


.sidecontent {
	margin-top: 90px; 
	width: 37.5%;
	background-color: rgba(255,255,255,0.8);
	padding-top: 10px;
	float: left;
	font-size: 16px;
	overflow: auto;
	height: 635px;
}

.sidecontent ul li{
	overflow: hidden;
	margin: 10px 0;

}

.date-picker {
	margin: 0 auto 10px;
	
}

form {
	margin-top: 1.5%;
	padding-bottom: 20px;
	font-family: Century Gothic, Arial;
	text-align: center;
	margin-right: 15px;
	margin-left: 15px;
}

fieldset {
	text-align: center;
	}

form h1{
	padding-top: 20px;
	font-size: 30px;
	margin-right: 15px;
	margin-left: 15px;
}

h1{
	font-size: 30px;
	text-align: center;
	padding-top: 15px;
	margin-right: 15px;
	margin-left: 15px;
}

h2{
	margin-right: 15px;
	margin-left: 15px;
}

form h2{
	font-size: 14px;
	margin-right: 15px;
	margin-left: 15px;

}

h2{
	font-size: 14px;
	text-align: left;
	margin-right: 15px;
	margin-left: 15px;
}

h2 a{
	font-size: 14px;
	margin-right: 15px;
	margin-left: 15px;
}

h3{
	font-size: 14px;
	text-align: center;
	margin-right: 15px;
	margin-left: 15px;
}

h4 {
	font-size: 14px;
	text-align: right;
	padding: 10px;
	margin-right: 15px;
	margin-left: 15px;
}

h5 {
	margin-left: 30px;
}

.error {
	font-family: Century Gothic, Arial;
	color: #FF0000;
	text-align: center;
	font-weight: bold;
}

.confirm {
	font-family: Century Gothic, Arial;
	color: green;
	text-align: center;
	font-weight: bold;
}

form a{
	font-size: 14px;
}

form li {
	list-style-type: none;
	list-style: none;
}

form li p{
	text-align: center;
	padding: 5px;
	display: inline;  
	display: block

}

#submit {
	margin-top: 10px;
}	

#map {
	height: 500px;
	width: 100%;
}

.booking_buttons {
	margin-left:140px;
}

#footer {
    list-style-type: none;  
	margin-top: 90px;
	padding: 5px;
	opacity: 0.9;
	background-color: black;
	text-align: center;
	font-family: Century Gothic, Arial;
}
#footer ul li{
    display: inline;  
    margin: 0;
}
#footer ul li a {
	color: white;
	font-size: 20px;
	text-decoration: none;
	padding: 0 20px;
	bottom: 0px;
}
.hidden {
	display: none;
	font-size: 14px;
}

ol{
	padding: 30px;
	list-style-type: decimal;
}

#wrapper {
	max-width: 980px;
	overflow: hidden;
	margin: 0 auto;
	background-color: transparent; 
}

#admin_form{
	padding-bottom: 20px;
	font-family: Century Gothic, Arial;
	text-align: left;
	margin-right: 15px;
	margin-left: 15px;

}

/*tabs
*/

#Tabs ul {
padding: 0px;
margin: 0px;
margin-left: 10px;
list-style-type: none;
}

#Tabs ul li {
display: inline-block;
clear: none;
float: left;
height: 24px;
}

#Tabs ul li a {
position: relative;
display: block;
margin-left: 6px;
line-height: 24px;
padding-left: 10px;
background: #f6f6f6;
z-index: 9999;
border: 1px solid #ccc;
border-bottom: 0px;

/* The following four lines are to make the top left and top right corners of each tab rounded. */
-moz-border-radius-topleft: 4px;
border-top-left-radius: 4px;
-moz-border-radius-topright: 4px;
border-top-right-radius: 4px;
/* end of rounded borders */

width: 130px;
color: #000000;
text-decoration: none;
font-weight: bold;
}

#Tabs ul li a:hover {
text-decoration: underline; 
}

#Tabs #tab_content{ 
padding: 0 15px;
clear:both;
overflow:hidden;
line-height:19px;
position: relative;
top: 20px;
z-index: 5;
}



/*
Mediacss


*/
@media all and (max-device-width: 640px) {
/*media (max-width: 700px) and (device-aspect-ratio: 40/71) {*/
#header img{
	display: block;
	margin: 0 auto;
	padding: 2%;
	width:95%;
	height:78%;
	position: relative;
	
}
#menu ul {
    list-style-type: none;  
	margin-top: 0;
	padding: 20px;
	background-color: black;
	opacity: 0.65; 
	font-size: 40px;
	text-align: center;
} 
#menu ul li { 
    display: inline;  
    margin: 0;  
}
#menu ul li a {  
    font-family: Century Gothic, Arial;  
    color: white; 
	text-decoration: none;
	padding: 0 20px;
}

.homemap{
	margin-left: 2.5%;
	margin-top: 90px;
	margin-right: 2.5% ;
	width: 46%;
	padding: 30px;
	float: left;
}

.sidecontent {
	margin-top: 90px; 
	width: 46%;
	padding: 30px;
	float: left;
	font-size: 16px;
	height: 635px;
}

.sidecontent ul li{
	margin: 10px 0;
}


.maincontent {
	margin: 0 auto;
	margin-top: 90px;
	max-width: 980px;
	height: 200%;
	background-color: rgba(255,255,255,0.85);
	padding: 20px;
}

#footer {
 	margin-bottom: 2%;
	padding: 5px;
	opacity: 0.7;
	text-align: center;
}

#footer ul li a {
	font-size: 20px;
	padding: 0 20px;
	bottom: 0px
}


}
	

